<section name="header" class="row">
  <div class="column">
    <h2>Team Statistics</h2>
  </div>
</section>
<section name="statistics" class="row">
  <table>
    <tr>
      <th>Team</th>
      <th>Total Yds</th>
      <th>Lng</th>
    </tr>
    <tr>
    <%= for stat <- @rushing_statistics do %>
      <tr>
        <td><%= stat.team %></td>
        <td><%= stat.total_yards %></td>
        <td><%= stat.longest_rush %></td>
      </tr>
    <% end %>
    <td></td>
    </tr>
  </table>
</section>
