<section name="header" class="row">
  <div class="column">
    <h2>Team Statistics</h2>
  </div>
</section>
<section name="statistics" class="row">
  <table>
    <tr>
      <th>Team</th>
      <th>Total Yds</th>
      <th>Lng</th>
    </tr>
    <tr>
      <td>NYG</td>
      <td>150</td>
      <td>10T</td>
    </tr>
  </table>
</section>
