<section name="header" class="row">
  <div class="column">
    <h2>Team Statistics</h2>
  </div>
</section>
<section name="statistics" class="row">
  <table>
    <tr><th></th></tr>
  </table>
</section>
